html {
    background-color: #000000e6;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

body {
    font-family: "Times New Roman";
    font-size: 20px;
    color: white;
}

button {
    background-color: #00000000;
    color: white;
    border-color: white;
    border-width: 1px;
    height: 50px;
    width: 125px;
    border-radius: 30px;
}

button:hover {
    cursor: pointer
}

#prediction {
    margin-top: 20px;
    /* text-align: center;
    background-color: white; */
    border: 1px solid #00000000;
    color: white;
    padding: 10px;
    font-size: 20px;
}